.navbar{
    background-color: white;
    height: 5rem;
}
.fa-compass{
    color:fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 8rem;
    background-color: #ebebeb;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.f-info-links a {
    text-decoration: none;
    color: #000; /* Adjust as needed */
}

.f-info-links a:hover {
    text-decoration: underline;
}