body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar{
    background-color: white;
    height: 5rem;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 8rem;
    background-color: #ebebeb;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.f-info-links a {
    text-decoration: none;
    color: #000; /* Adjust as needed */
}

.f-info-links a:hover {
    text-decoration: underline;
}

/*styling for index page*/
.card-img-top{
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 1rem !important;
    height: 20rem !important;
}
.container{
    flex-grow:1;
}
.listing-card{
    margin-bottom: 2rem;
    border: none !important;
}

.card-body{
    padding: 0 !important;
    font-weight: 400;
}
.listing-link{
    text-decoration: none !important;
    color:inherit !important
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background-color: white;
    opacity: 0.2;
}
.add-btn{
    background-color: #fe424d;
    border: none !important;
}
/* show page*/
.listing-item{
    list-style-type:none;
    padding: 0;
}
.delete-btn{
    border: none;
}


/* Map */
#map{
    height: 400px;
    width:80vh;
}

/* tax-info */
.tax-info{
    display: none;
}