<% layout('layouts/boilerplate.ejs')-%>
<body>
    <h3>Listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2">
        <%for(let list of alllistings){%>
            <div class="card col">
                <img class="card-img-top" src="<%=list.image %>" alt="image of place">
                <div class="card-body">
                  <p class="card-text"><%=list.title%><br>
                    &#8377;<%=list.price.toLocaleString('en-IN')%></p>
                </div>
              </div>
          <%}%>
    </div>
   
</body>
